<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es_MX"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Mark Hkr">
    <meta property="fb:admins" content="100002353510548">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/f4cee09130.js"></script>
    <link rel="stylesheet" href="dist/css/main.css">
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-form">
      <div class="row loginHeader">
        <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-524253160393/images/login/started.png" alt="Let's get started" class="col1824 imgResponsive">
      </div>

      <form id="loginForm" action="" method="post">
        <div class="formGroup">
          <label for="firstName" class="label">
            First Name:
          </label>
          <input type="text" class="input" id="firstName" name="firstName" required>
        </div>

        <div class="formGroup">
          <label for="lastName" class="label">
            Last Name:
          </label>
          <input type="text" class="input" id="lastName" name="lastName" required>
        </div>

        <div class="formGroup">
          <label for="city" class="label">
            City:
          </label>
          <input type="text" class="input" id="city" name="city" required>
        </div>

        <div class="formGroup">
          <label for="position" class="label">
            Position title:
          </label>
          <input type="text" class="input" id="position" name="position" required>
        </div>

        <div class="formGroup">
          <label for="employeeid" class="label">
            5 digit employee ID:
          </label>
          <input type="text" class="input" id="employeeid" name="employeeid" required>
        </div>

        <div class="formGroup">
          <label for="email" class="label">
            Email address:
          </label>
          <input type="email" class="input" id="email" name="email" required>
        </div>

        <div class="formGroup">
          <label for="mailCode" class="label">
            Mail code:
          </label>
          <input type="text" class="input" id="mailCode" name="mailCode" placeholder="Example: xx-xx-xx-xxx" required>
        </div>

        <div class="formGroup">
          <p class="miniTerms">
            Click <a href="terms.html">Here </a>to read the terms an conditions.<br><br>
            I hereby affirm and acknowledge that I have read this release and that I understand its contents and agree to be bound thereby.
          </p>
          <label class="chkBxLabel" for="acceptance">Signature: </label>
          <input type="text" class="input" id="acceptance" name="acceptance">
        </div>

        <div class="formGroup">
          <button class="btn button disabled next" type="submit">
            Next
          </button>
        </div>

      </form>

      <hr class="styled">

      <footer class="row mainFooter">
        <div class="col924 colm824 coll624">
          <a href="index.html"><img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-524253160393/images/logo-taste.png" alt="Taste logo" class="imgResponsive"></a>
        </div>
      </footer>
    </div>
    <!-- /container -->

    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="dist/vendor/jquery-3.1.1.min.js"><\/script>')</script>
    <script src="src/js/main.js"></script>
  </body>
</html>
