<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es_MX"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Mark Hkr">
    <meta property="fb:admins" content="100002353510548">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/f4cee09130.js"></script>
    <script src="dist/vendor/jquery-2.2.4.min.js"></script>
    <script src="dist/vendor/jquery-cropit.min.js"></script>
    <link rel="stylesheet" href="dist/css/main.css">
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-upload col1">
      <div class="row loginHeader">
        <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-513199747384/images/create/start.png" alt="Logo" class="col2024 colm1424 coll1624 imgResponsive">
      </div>

      <div class="row col1 headerImages">
        <form action="#" class="col1124 dropzone">
          <div class="leftDropper col1">
            <div class="image-editor col1" id="portImage">
              <div class="cropit-preview">
                <div class="select-image-btn" id="plusOne"> + </div>
              </div>
              <input type="file" class="cropit-image-input" accept="image/*" id="fileUploadMain" required>

              <div class="btn-wrap col1">
                <div class="rotate-btns">
                  <span class="rotate-ccw" id="rotate1"><i class="fa fa-undo" aria-hidden="true"></i></span>
                  <span class="rotate-cw" id="rotate2"><i class="fa fa-repeat" aria-hidden="true"></i></span>
                </div>

                <div class="slider-wrap">
                  <span><i class="fa fa-picture-o pict-sm" aria-hidden="true"></i></span>
                  <input type="range" class="cropit-image-zoom-input">
                  <span><i class="fa fa-picture-o pict-lg" aria-hidden="true"></i></span>
                </div>
              </div>

              <button class="export btn buttonUP disabled" id="uploadMain">Upload Dish Image</button>
            </div>
          </div>
        </form>

        <form action="#" class="col1224 dropzone" id="userImage">
          <div class="userText">
            <p class="userTitle">
              Take your pictures using your mobile phone in the vertical position for a better fit in the cookbook.
            </p>
            <ul class="userInst">
              <li>Resolution: 800 x 1000 pixels, vertical.</li>
              <li>Size max: 5MB</li>
              <li>Format: jpg, png</li>
            </ul>
          </div>

          <div class="rightDropper col1">
            <div class="userData col1224">
              <p id="userName"><%= userName %></p>
              <p id="userLocation"><%= userLocation %></p>
              <p id="userPosition"><%= userPosition %></p>
            </div>

            <div class="image-user col1224" id="imageUser">
              <div class="cropit-preview">
                <div class="select-image-btn" id="plusUser"> + </div>
              </div>
              <input type="file" class="cropit-image-input" accept="image/*" id="fileUploadUser" required>

              <div class="btn-wrap col1">
                <div class="rotate-btns">
                  <span class="rotate-ccw" id="rotate3"><i class="fa fa-undo" aria-hidden="true"></i></span>
                  <span class="rotate-cw" id="rotate4"><i class="fa fa-repeat" aria-hidden="true"></i></span>
                </div>

                <div class="slider-wrap">
                  <span><i class="fa fa-picture-o pict-sm" aria-hidden="true"></i></span>
                  <input type="range" class="cropit-image-zoom-input">
                  <span><i class="fa fa-picture-o pict-lg" aria-hidden="true"></i></span>
                </div>
              </div>

              <button class="export btn buttonUP disabled" id="uploadUser">Upload User Image</button>
            </div>
          </div>
        </form>
      </div>

      <form id="uploadRecipe" action="" class="col1 uploadForm">
        <div class="formGroup coll1524">
          <label for="recipeTitle" class="label">
            Recipe title:
          </label>
          <input type="text" class="input" id="recipeTitle" name="recipeTitle" placeholder="Super awesome recipe..." required>
        </div>

        <div class="formGroup coll624">
          <label for="recipeServings" class="label">
            Servings:
          </label>
          <input type="text" class="input recipeServes" id="recipeServings" name="recipeServings" required>
        </div>

        <div class="formGroup">
          <label for="recipeCat" class="label">
            Category:
          </label>
          <select class="input" id="recipeCat" name="recipeCat">
              <option selected disabled>Choose category from drop down menu</option>
              <option value="appetizer">Appetizers</option>
              <option value="sss">Soups, salads and sides</option>
              <option value="main">Main dishes</option>
              <option value="desert">Desserts</option>
            </select>
        </div>

        <h2 class="subtitleForm">Ingredients:</h2>

        <div class="dividerForm col1" id="dividerForm">

          <div class="divPartForm coll1024">
            <div class="formGroup lister" id="ingredients">
              <label for="setIngredient_1" class="label ing">
                Ingredients:
              </label>
              <div class="setOfIngredients">
                <input type="text" class="input" id="setIngredient_1" name="setIngredient_1" placeholder="Example: Cake" required>
              </div>
            </div>
            <div class="formGroup lister" id="ingredients">
              <label for="recipeIngredient_1" class="label">
                List:
              </label>
              <div class="listOfIngredients" id="loi-1">
                <input type="text" class="input" id="recipeIngredient_1" name="recipeIngredient_1" placeholder="Example: 1 cup of flour" required>
              </div>
              <p><a href="#!" class="addIngredient" id="addIng-1">+Add ingredient</a></p>
            </div>
          </div>

          <div class="divPartForm coll1024">
            <div class="formGroup lister" id="ingredients">
              <label for="setIngredient_2" class="label ing">
                2<sup>nd</sup> set of Ingredients: <br><span>(If not necesary leave blank)</span>
              </label>
              <div class="setOfIngredients">
                <input type="text" class="input" id="setIngredient_2" name="setIngredient_2" placeholder="Example: Icing">
              </div>
            </div>
            <div class="formGroup lister" id="ingredients">
              <label for="recipeIngredient_2" class="label">
                List:
              </label>
              <div class="listOfIngredients" id="loi-2">
                <input type="text" class="input" id="recipeIngredient_2" name="recipeIngredient_2" placeholder="Example: 8oz chocolate chips">
              </div>
              <p><a href="#!" class="addIngredient" id="addIng-2">+Add ingredient</a></p>
            </div>
          </div>

        </div>

        <div class="divPartForm coll1024">
          <a href="#!" class="addSetIngredients" id="addSetIng">+ Add another set of ingredients</a>
        </div>

        <h2 class="subtitleForm">Instructions:</h2>

        <div id="instructionsSets">
          <div class="formGroup lister">
            <label for="recipeMethod_1" class="label ing">
              Instructions:
            </label>
            <div class="instructions">
              <input type="text" class="input" id="recipeMethod_1" name="recipeMethod_1" placeholder="Example: Cake" required>
            </div>
          </div>

          <h3 class="steps">Steps:</h3>

          <div class="formGroup lister itemStep" id="los-1">
            <div class="wrapSteps">
              <label for="recipeStep_1" class="label ing">
                1.
              </label>
              <div class="listOfSteps">
                <input type="text" class="input" id="recipeStep_1" name="recipeStep_1" placeholder="Example: Mix the ingredients..." required>
              </div>
            </div>
          </div>

          <p><a href="#!" class="addStep" id="addStep-1">+Add step</a></p>

          <div class="formGroup lister">
            <label for="recipeMethod_2" class="label ing">
              Instructions for Set 2: <span>(If not necesary leave blank)</span>
            </label>
            <div class="instructions">
              <input type="text" class="input" id="recipeMethod_2" name="recipeMethod_2" placeholder="Example: Icing">
            </div>
          </div>

          <h3 class="steps">Steps:</h3>

          <div class="formGroup lister itemStep" id="los-2">
            <div class="wrapSteps">
              <label for="recipeStep_2" class="label ing">
                1.
              </label>
              <div class="listOfSteps">
                <input type="text" class="input" id="recipeStep_2" name="recipeStep_2" placeholder="Example: Warm chocolate chips...">
              </div>
            </div>
          </div>

          <p><a href="#!" class="addStep" id="addStep-2">+Add step</a></p>
        </div>

        <div class="divPartForm coll1024">
          <a href="#!" class="addSetSteps" id="addSetSteps">+ Add another set of instructions</a>
        </div>

         <h2 class="subtitleForm">About your recipe:</h2>

        <div class="formGroup">
          <label for="recipeStory" class="label">
            Share a little bit of the story of your recipe:
          </label>
          <textarea class="input" id="recipeStory" name="recipeStory" placeholder="You have a 500 characters limit." maxlength="500" rows="5" required></textarea>
        </div>
        
        <input type="hidden" name="approval" id="approval" value="0">

        <hr class="styled">

        <div class="formGroup buttonGroup">
          <button class="col1 colm1024 btn buttonP" type="submit">
            Preview your recipe
          </button>
        </div>

      </form>


      <footer class="row mainFooter">
        <div class="col824 colm624 coll324">
          <a href="index.html"><img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-513199747384/images/logo-taste.png" alt="Taste logo" class="imgResponsive"></a>
        </div>
      </footer>
    </div>
    <!-- /container -->

    <script>
      $('#portImage').cropit({
        imageState: {
          src: 'https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-513199747384/images/create/waiter.png',
        }
      });
      
      $('#imageUser').cropit({
        imageState: {
          src: 'https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-513199747384/images/create/user.png',
        }
      });
    </script>
    <script src="src/js/uploadForm.js"></script>
    <script src="src/js/main.js"></script>
  </body>
</html>
