// _vars.scss

/* Main variables */

$font-stack: "vvba", Arial, sans-serif;
$jennasue: "jennasue", Arial, sans-serif;
$impregnable: "impregnable", Arial, sans-serif;
$primary-color: #094fa4;

/* BBVA Colors */
$blue-1: #094fa4;
$blue-2: #006ec1;
$blue-3: #009ee5;
$blue-4: #52bcec;
$blue-5: #8bd1f3;
$blue-6: #b5e5f9;
$yellow: #fdbd2c;
$orange: #f6891e;
$magenta: #c8175e;
$green: #86c82d;
$grey: #717780;


/* Grey scale */
$b-1: #212121;
$b-2: #38393C;
$b-3: #727272;
$b-4: #B6B6B6;
$w: #fff;
